<ion-view title="Forgot Password">
  <ion-nav-bar class="bgmiracleBlue bar bar-calm">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-arrow-left-c right" ng-click="back()"></button>
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <div class="padding">
      <ul class="list">
        <li class="item item-text-wrap iconColor"  style="text-align: justify;">
      <span>Please enter your username and you will receive the next steps for changing your password  </span>
    </li>
  </ul>
    </div>
    <div class="row">
      <div class="col">
        <label class="item item-input log" style="border-width: 2px;">
          <i class=" icon ion-android-contact padding"></i>
          <input class="fontLarge" type="text" placeholder="Enter your Username " ng-model="loginmailName.mail">
        </label>
      </div>
    </div>
    <center>
      <button class="button button-block button-calm buttoncolor" style="border-radius: 10px;width: 97%;height: 50px !important;" ng-click="forgotPassword(name)">
           <span style="font-size:larger"><b>Reset Password</b></span>
         </button>
       </center>
      <div class="row padding" style="color:#ef4048">{{errorMessage}}</div>
  </ion-content>
  <div class="bar bar-footer  postButton">
    <div class="title" style="color:white;">© Miracle Software Systems, Inc.</div>
  </div>
</ion-view>
