<ion-view view-title="Release Versions">

  <ion-content class="has-header has-footer">
    <a class=" item item-icon-right padding" href="#/menu/ReleaseVersion1">

              <h3 ><span class="" style="font-size:1em;color:#00aae7  ">Release1</span></h3>
              <h3 ><span class="">02/02/2017</span></h3>
              <h3 ><span class="">beta version</span></h3>
              <i class="icon ion-chevron-right right " style="color:black;font-size:medium;margin-top:-9px"></i>
           </a>
    </ion-content>

    <div class="bar bar-footer  postButton">
      <div class="title" style="color:white;">© Miracle Software Systems, Inc.</div>
    </div>

</ion-view>
