<ion-view view-title="Release Notes">

  <ion-content class="has-header has-footer">
    <h4 class="padding" style="margin-top:0px;background-color:#232527 !important;color:white !important;text-align:justify;">Beta Release(0.1.0) - <span>March 3rd, 2017</span></h4>

    <div class=" " style="text-align:justify;margin-top:-10px">

      <li class="item item-text-wrap ">
        <span>v0.1.0 is the first release of Miracle Me. It will be run in Beta mode for 20 users to identify performance, experience and functionality issues and rectify. The release includes features such as employee search and news feed.   </span>

      </li>
    </div>
    <div>
      <h4 class="padding" style="background-color:#232527 !important;margin-top:1px;color:white !important;">Features</h4>
    </div>

    <div class="" style="margin-top:-9px;text-align:justify !important;">
      <ul class="list">
        <li class="item item-text-wrap iconColor">
          <i class="icon ion-star iconcolor"></i>
          <span style="color:#232527;"> Single Sign On with Hubble – Utilize your existing credentials to login to the app experience.</span>
        </li>
        <li class="item item-text-wrap">
          <i class="icon ion-star iconcolor"></i>
          <span style="color:#232527;">Employee Search Capability – Native Feature Integration for adding to contacts and placing calls/emails from app.</span>
        </li>
        <li class="item item-text-wrap">
          <i class="icon ion-star iconcolor"></i>
          <span style="color:#232527;">Ability to change background picture for profile – 14 image options available today.</span>
        </li>
        <li class="item item-text-wrap">
          <i class="icon ion-star iconcolor"></i>
          <span style="color:#232527;">News Feed Option to view latest notifications from Operations Team – Send functionality provided to Operations Admins.</span>
        </li>
        <li class="item item-text-wrap">
          <i class="icon ion-star iconcolor"></i>
          <span style="color:#232527;">Issue Management feature for users to log facility issues and check resolution status and comments – Operations Admins will have option to resolve and update issues.</span>
        </li>
      </ul>

    </div>


  </ion-content>
  <div class="bar bar-footer  postButton">
    <div class="title" style="color:white;">© Miracle Software Systems, Inc.</div>
  </div>
</ion-view>
