<ion-view cache-view="false" view-title="View Issue Details">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-arrow-left-c right " ng-click="back()"></button>
  </ion-nav-buttons>

  <ion-content delegate-handle="content">

    <div class="row row-wrap">

        <div class="col addImage"  ng-repeat="pic in img">

          <img class="" ng-src="{{pic}}" style="width:100% !important; height: auto !important;">

        </div>
</div>

    <div class="card" style="margin-top:-5px">


      <!-- Details -->
      <div class="item item-divider row" style="background-color:#00aae7">
        <h2 class="padding fontLarge col-90" style="color:#ffffff" ;><b>{{user}}</b></h2>

      </div>

      <div class="item item-text-wrap ">
        <div class="row desc" style="margin-top:-20px;">
          <div class="col"><span>{{des}}</span></div>
        </div>
        <div class="row desc" style="color:black">
          <div class="col"> <span style="color:green">{{status}}</span></div>
        </div>
        <div class="row desc" style="color:black">
          <div class="col">{{date| date:'medium'}}</div>
        </div>
        <div class="row desc">
          <div class="col">{{address}}</div>
        </div>
        <div class="row desc">
          <div class="col">Facility - {{worklocation}}</div>
        </div>
      </div>

    <!--  <div class="item item-divider" style="padding:0px !important;background-color:#ffffff">

        <div class="row">

          <div class="col col-100 button bgmiracleBlue" style="margin-right:5px">

            <i class="icon ion-checkmark" style="font-size:1.5em"></i><span style="color:#ffffff">&nbsp;Resolved</span>

          </div>

        </div>

      </div>-->

    </div>




  </ion-content>
  <ion-footer-bar class=" bgmiracleBlue" align-title="center">

<h1 class="title footitle">© Miracle Software Systems, Inc. </h1>

  </ion-footer-bar>
</ion-view>
